@-moz-document domain(youtube.com) {
  #related,
  .ytd-browse {
    display: none !important;
  }
}

@-moz-document domain(twitter.com) {
  #timeline.content-main {
    display: none;
  }
  .wtf-module {
    display: none !important;
  }
}
